body {
    margin: 0;
    padding: 0;
    /*background-color: rgb(193, 187,186);*/
}

/* -HEADER- */
header {
    height: 65px;
    background-color: rgb(220, 196, 188);
    /*background: linear-gradient(direction/angle, color1, color2, color3, etc.);
    background: linear-gradient(left, rgb(220, 196, 188),  rgb(255, 255, 255));
    background: linear-gradient(rgb(220, 196, 188) 40%, rgb(255, 255, 255) 20%,  rgb(220, 196, 188) 40%);*/
}
.logo {
    float: left;
    margin: 10px 0px 10px 60px;
}
.menu {
    float: right;
    margin: 25px 30px 25px 0px;
}
.menu i, .menu a {
    color: rgb(162, 56, 19);
}
.menu a {
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: lighter;
}

/* -INDEX.HTML- / -THESMILE.HTML- */
.template {
    margin-right: 300px;
    margin-left: 300px;
    height: auto;
    padding: 40px;
    background-color: white;
}

/* -INDEX.HTML- */
.text {
    position: absolute;
    background-color: white;
}
.container {
    padding-top: 20px;
    height: auto;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 312px;
    padding-bottom: 20px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box .imgBox{
    position: relative;
    overflow: hidden;
}
#image{
    width: 270px;
    height: 270px;
    border: 2px solid white;
    float: left;
}

/* -THESMILE.HTML- */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column1 {
    width: 40%;
    height: auto;
    float: left;
    background-color: white;
    margin-right: 5%;
}
.column2 {
    width: 55%;
    height: auto;
    float: left;
    background-color: white
}
.column1 button {
    margin: 5px;
    width: 450px;
    height: 35px;
    text-align: left;
    border: 1px solid rgb(165, 160, 160);
    border-radius: 10px;
    /*background: rgb(151, 144, 144);*/
}
.column1 input:active {
    background-color: rgb(175, 170, 170);
}
.column1 i {
    font-size: 25px;
    color:rgb(162, 56, 19);
}
.col1 {
    width: 30%;
    height: auto;
    float: left;
    text-align: right;
    margin-right: 5%;
}
.col2 {
    width: 65%;
    height: auto;
    float: left;
    text-align: left;
}
.column1 i, .column2 i {
    color:rgb(162, 56, 19);
}
.col2 span {
    font-weight: lighter; 
    font-size: 13px; 
    color: rgb(168, 166, 159);
}
.total, .btn {
    background:rgb(162, 56, 19);
    color: white;
    font-weight: bold; 
    padding: 10px; 
    border: rgb(162, 56, 19);
    border-radius: 10px; 
    margin: 20px;
}
.btn {
    float: right;
}

/* -CONTACT.HTML- */
.form-components {
    padding-bottom: 40px;
}
.form-components {
    vertical-align: middle;
}
.form-components input {
    float: right;
}
.button-styling {
    display: block; 
    margin: auto; 
    background-color: rgb(186, 213, 223); 
    color: black; 
    font-size: 15px; 
    border-radius: 15%; 
    padding: 8px;
}